---
layout: page
title: "About"
description: "Hey, this is Zhk."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>我思，<br>
    用双手成就你的梦想</p></blockquote>

    <p>Hey，我是<strong>张凯</strong>，字张三号可乐君，程序员 &amp; 设计师。前恒华科技 · <a href="http://www.ieforever.com">创新中心</a>java开发工程师，前端工程师 ·
	现就职于<a href="http://www.nptever.com">新质点科技</a> · 技术研发团队，担任项目负责人兼部门负责人</a>。</p>

    <p>一些作品和开源项目，👉 戳 <a href="https://github.com/isharer">Github</a> </p>
    
    <p>音乐重度依赖患者，设计师强迫症患者，书买得比看得多患者，毒舌患者，科技产品发布会观看癖患者，间歇性感伤患者，习惯性熬夜患者。</p>
    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com/isharer">首谈</a> · Zhk Talks 唐山 2017</li>
    </ul>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>I think,<br>
     Achieve your dreams with both hands</p></blockquote>

    <p>Hi, I am <strong>Zhang Kai(张凯)</strong>，you can call me <strong>Zhk or Coca Cola JUN</strong>. I'm an engineer &amp; a designer who builds softwares (👉 <a href="/portfolio">Portfolio</a> and <a href="http://github.com/isharer">Github</a>). I studied Digital Media Art and graduated from <a href="http://www.xaut.edu.cn/">Xi'an University of Technology</a> in 2016.</p>
    
    <p>I previsouly worked at <a href="http://www.ieforever.com">Beijing Forever Technology Co., Ltd.</a> and led Front-End Infrastructure Team. Now I am working at <a href="http://www.nptever.com">nptever.com in Technology R & D department</a> as Staff Software Engineer, and Department manager.</p>

    <p>In addition, Open source project looking here <a href="https://github.com/isharer">Github</a>.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com/isharer">Index</a> · Zhk Talks TangShan 2017</li>
    </ul>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <!-- This id is used for indexing my loss comments forcedly -->
    <div class="ds-thread"
    {% if site.duoshuo_username == "Zhkblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
    <!-- U can just use this key generated to index comments at page about -->
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Zhk
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
